.Card {
  margin-top: 15px;
  /* margin-bottom: 10px; */
  justify-content: space-between;
}

.item-image {
  width: 100%;
  height: 200px;
  object-fit: scale-down;
}

.card-description {
    height: 136px;
}

.list-group-item {
  color: rgb(87, 87, 87);
}

.card-links {
  max-height: 75px;
  text-align: center;
}
